#mypage {
    padding: 3rem;
    background-color: #f8f8f8;
    min-height: 100vh;
}

#mypage .user-card {
    display: block;
    max-width: 50rem;
    margin: 5rem auto;
    padding: 3rem;
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.12);
}

#mypage .user-card:hover {
    transform: none;
}

#mypage .user-image {
    display: block;
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

#mypage .mypage-info-vertical {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background: #fbf4f4;
    border-radius: 1.2rem;
    box-shadow: 0 0.4rem 1rem rgba(255, 160, 175, 0.1);
}

#mypage .user-nickname {
    font-size: 2.4rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 0.8rem;
    text-align: center;
}

#mypage .user-info-row {
    display: flex;
    color: #444;
    font-size: 1.6rem;
}

#mypage .user-info-label {
    width: 12rem;
    font-weight: 600;
    color: #ba4a84;
}

#mypage .user-info-value {
    font-weight: 500;
    color: #555;
}

#mypage .user-intro {
    margin-top: 1.6rem;
    line-height: 1.6;
    color: #444;
    font-size: 1.6rem;
}

#mypage .mypage-buttons-centered {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

#mypage .mypage-btn {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    background: linear-gradient(120deg, #fb5356, #fd9a9a);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#mypage .mypage-btn:hover {
    background: linear-gradient(45deg, #fb5356, #ff6f6f);
}



#edit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.course-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
}

.date-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.partner-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    vertical-align: middle;
    object-fit: cover;

}